extends layout

- var now = moment();

//- Highlights Mixin
//- ================
mixin highlight-card(p)
	- var currencySymbols = {GBP:'£', EUR:'€', USD:'$'};
	div.highlight.card
		div.highlight-img.img
			img(src='/img/bg.png')
		
		div.title
			h3= p.title
		div.stats.ibc(
			data-endTime=p.endTime,
			data-launchTime=p.launchTime,
			data-backersCount=p.backersCount
			data-currency=p.currency,
			data-goal=p.goal,
			data-pledged=p.pledged,
			)
			div.backers.ib
				div.graph
				div.caption
					span Backers
			div.pledges.ib
				div.graph
				div.caption
					span.hidden
					span.goal= money.formatMoney(p.goal, { symbol: currencySymbols[p.currency] })
					span  goal
			div.days-remaining.ib
				div.graph
				div.caption
					span= humanTimeLeft
					span.data.days=moment(timeLeft)
					span  days to go.
					span.hidden  (of 
					//- span.hidden.data.duration= moment(p.endTime - p.launchTime).days()
					span.hidden )
			div.back-project.ib
				div.graph
					div.text $
				div.caption
					span Back this project



block content
	section#index
		div.nav-menu
			ul
				li.nav-menu-item: a(href='#highlights', title='Project highlights') Highlights
				li.nav-menu-item: a(href='#about', title='About Sidekick') About
				li.nav-menu-item: a(href='#apply', title='Project Applications') Apply
				li.nav-menu-item: a(href='#case-studies', title='Case Studies') Case Studies
				li.nav-menu-item: a(href='#archive', title='Archive of supported projects') Archive


	section#highlights
		h2.section-title.hidden Highlights
		each project in projects
			if project.highlight
				//- - var timeLeft = (project.endTime.diff(now) > 0) ? project.endTime.diff(now) : 0;
				//- - var humanTimeLeft = project.endTime.fromNow();
				+highlight-card(project)


	section#apply
		div.section-header
			h2 Apply
		div.paragraph.paragraph-wide!= marked(documents.apply)

	form#subForm.text-body.campaign-monitor(action="http://sidekickcreatives.createsend.com/t/t/s/kivt/", method="post")
		p(style='white-space:pre;')
			| Coming Soon
			| Subscribe to our newsletter
		
		div
			label(class='hidden', for="kivt-kivt") Email: 
			input(type="text", name="cm-kivt-kivt", id="kivt-kivt", placeholder='Enter your email here…')
			input(type="submit", value="Subscribe")
		
		p.text-micro (We won't nag your inbox. We hate trigger-happy newsletters as much as you do)
