extends layout


//- Highlights Mixin
//- ================
mixin campaign-card(p, archive)
	- var now = moment();
	- var endTime = moment(p.endTime);
	- var launchTime = moment(p.launchTime);
	- var symbol = {GBP:'£', EUR:'€', USD:'$', CAD:'CAD$'}[p.currency];
	- var daysLeft = endTime.diff(now, 'days');
	- var backCaption = (daysLeft > 0) ? 'Back this project' : (p.pledged >= p.goal) ? 'Successfully funded' : 'Ended';
	div.card(class=(archive) ? 'archive' : 'highlight')
		div.poster-img.img
			if (daysLeft)
				a(href=p.uri)
					img(src=p.poster || '/img/bg.png')
			else
				img(src=p.poster || '/img/bg.png')

		
		div.title
			h3= p.title
		div.stats.ibc(
			data-end-time=endTime.toISOString(),
			data-launch-time=launchTime.toISOString(),
			data-backers-count=p.backersCount
			data-currency=p.currency,
			data-goal=p.goal,
			data-pledged=p.pledged,
			data-pledged-string=symbol + numeral(p.pledged).format('0,0')
			)
			div.backers.ib
				div.backers-graph
				div.backers-caption Backers
			div.pledges.ib
				div.pledges-graph
				div.pledges-caption= symbol + numeral(p.goal).format('0,0') + ' goal'
			div.days.ib
				div.days-graph
				div.days-caption= ( (daysLeft > 0) ? daysLeft : 0 ) + ' days to go'
			div.back.ib
				div.back-graph
					div.text $
				if (daysLeft > 0)
					div.back-caption: a(href=p.uri)= backCaption
				else
					div.back-caption= backCaption
		if (archive)
			div.summary


block content
	section#section-index
		div.nav-menu
			ul
				li.nav-menu-item: a(href='#section-highlights', title='Project highlights') Highlights
				li.nav-menu-item: a(href='#section-about', title='About Sidekick') About
				li.nav-menu-item: a(href='#section-apply', title='Project Applications') Apply
				li.nav-menu-item: a(href='#section-case-studies', title='Case Studies') Case Studies
				li.nav-menu-item: a(href='#section-archive', title='Archive of supported projects') Archive


	section#section-highlights
		h2.section-header.hidden Highlights
		div.slides
			each project in projects
				if project.highlight
					+campaign-card(project, false)

	if (documents['apply'])
		section#section-apply
			div.markdown-container!= marked(documents['apply'])

	if (documents['case study'])
		section#section-case-studies
			div.markdown-container!= marked(documents['case study'])

	section#section-archive
		h2.section-header Archive
		each project in projects
			+campaign-card(project, true)

	if (documents['about'])
		section#section-about
			div.markdown-container!= marked(documents['about'])


	form#subForm.text-body.campaign-monitor(action="http://sidekickcreatives.createsend.com/t/t/s/kivt/", method="post")
		p(style='white-space:pre;')
			| Coming Soon
			| Subscribe to our newsletter
		
		div
			label(class='hidden', for="kivt-kivt") Email: 
			input(type="text", name="cm-kivt-kivt", id="kivt-kivt", placeholder='Enter your email here…')
			input(type="submit", value="Subscribe")
		
		p.text-micro (We won't nag your inbox. We hate trigger-happy newsletters as much as you do)
