extends layout


//- Highlights Mixin
//- ================
mixin highlight-card(p)
	- var now = moment();
	- var endTime = moment(p.endTime);
	- var launchTime = moment(p.launchTime);
	- var symbol = {GBP:'£', EUR:'€', USD:'$', CAD:'CAD$'}[p.currency];
	- var daysLeft = endTime.diff(now, 'days');
	- var backCaption = (daysLeft > 0) ? 'Back this project' : (p.pledged >= p.goal) ? 'Successfully funded' : 'Ended';
	div.highlight.card
		div.highlight-img.img
			img(src=p.poster || '/img/bg.png')
		
		div.title
			h3= p.title
		div.stats.ibc(
			data-end-time=endTime.toISOString(),
			data-launch-time=launchTime.toISOString(),
			data-backers-count=p.backersCount
			data-currency=p.currency,
			data-goal=p.goal,
			data-pledged=p.pledged,
			data-pledged-string=symbol + numeral(p.pledged).format('0,0')
			)
			div.backers.ib
				div.graph
				div.caption Backers
			div.pledges.ib
				div.graph
				div.caption= symbol + numeral(p.goal).format('0,0') + ' goal'
			div.days-remaining.ib
				div.graph
				div.caption= ( (daysLeft > 0) ? daysLeft : 0 ) + ' days to go'
			div.back-project.ib
				div.graph
					div.text $
				if (daysLeft > 0)
					div.caption: a(href=p.uri)= backCaption
				else
					div.caption= backCaption



block content
	section#index
		div.nav-menu
			ul
				li.nav-menu-item: a(href='#highlights', title='Project highlights') Highlights
				li.nav-menu-item: a(href='#about', title='About Sidekick') About
				li.nav-menu-item: a(href='#apply', title='Project Applications') Apply
				li.nav-menu-item: a(href='#case-studies', title='Case Studies') Case Studies
				li.nav-menu-item: a(href='#archive', title='Archive of supported projects') Archive


	section#highlights
		h2.section-title.hidden Highlights
		each project in projects
			if project.highlight
				+highlight-card(project)


	section#apply
		h2.section-header Apply
		div.paragraph.paragraph-wide!= marked(documents.apply)

	form#subForm.text-body.campaign-monitor(action="http://sidekickcreatives.createsend.com/t/t/s/kivt/", method="post")
		p(style='white-space:pre;')
			| Coming Soon
			| Subscribe to our newsletter
		
		div
			label(class='hidden', for="kivt-kivt") Email: 
			input(type="text", name="cm-kivt-kivt", id="kivt-kivt", placeholder='Enter your email here…')
			input(type="submit", value="Subscribe")
		
		p.text-micro (We won't nag your inbox. We hate trigger-happy newsletters as much as you do)
