extends layout

block content
	section#index
		div.nav-menu
			ul
				li.nav-menu-item: a(href='#highlights', title='Project highlights') Highlights
				li.nav-menu-item: a(href='#about', title='About Sidekick') About
				li.nav-menu-item: a(href='#apply', title='Project Applications') Apply
				li.nav-menu-item: a(href='#case-studies', title='Case Studies') Case Studies
				li.nav-menu-item: a(href='#archive', title='Archive of supported projects') Archive

	section#highlights
		h2.section-title.hidden Highlights
		each project in projects
			//- if project.highlight
			div.highlight.card
				div.highlight-img.img
					img(src='/img/bg.png')
				
				div.title
					h3= project.title
				
				div.stats.ibc
					
					div.backers.ib
						div.graph
						div.caption
							span.data= project.backersCount
							span Backers

					div.pledges.ib
						div.graph
						div.caption
							span.hidden
							span.data.pledged= project.pledged
							span  of 
							span.data.goal= project.goal
							span  goal

					div.days-remaining.ib
						div.graph
						div.caption
							span.data.days= Math.floor(project.hoursRemaining / 24)
							span  days to go.
							span.hidden  (of 
							span.hidden.data.duration= project.duration
							span.hidden )

					div.back-project.ib
						div.graph
							div.text $
						div.caption
							span Back this project

	section#apply
		div.section-header
			h2 Apply
		div.paragraph.paragraph-wide
			:markdown
				If you have a project and would like Sidekick to consider it, please email us at submit(at)sidekickcreatives.com
				Before working together, we need to get as much information as possible about you and your project. Sidekick assures you that all contents submitted will stay confidential.
				Please provide us with all the elements asked below.

	form#subForm.text-body.campaign-monitor(action="http://sidekickcreatives.createsend.com/t/t/s/kivt/", method="post")
		p(style='white-space:pre;')
			| Coming Soon
			| Subscribe to our newsletter
		
		div
			label(class='hidden', for="kivt-kivt") Email: 
			input(type="text", name="cm-kivt-kivt", id="kivt-kivt", placeholder='Enter your email here…')
			input(type="submit", value="Subscribe")
		
		p.text-micro (We won't nag your inbox. We hate trigger-happy newsletters as much as you do)
